body {
  background: url('/images/homeImg.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}
.form-group{
    text-align:center;
    top:40vh;
  }
.navbar-default {
  text-align:center;
  margin:0;
}
.center-block{
  text-align:center;
  top:40vh;
  position: relative;

}


.row2{
  margin: 0;

}
.container1{
  margin: 0;
}

.container-fluid{
  margin: 0;
}
.homeTitle{
  text-align: center;
  font-size: 48px;
  margin: 0;
  position: absolute;
  top:130px;
  right:50px;
  left: 50px;
  color: white;

}
.col-xs-offset-2{
  text-align:center;
  top:40vh;
}
.img-responsive{
  height: 30vh;
  width: 30vw;
}
.col-md-4 {
  background: #aaaaaa;
}
.col-md-5{
  background: #aaaaaa;
}
.col-md-6{
  text-align:center;
  top:40vh;
  position: relative;

}
.btn-primary{
  background: #aaaaaa;
}
img{
  background-position: center;
  width: 20vw;
  height: 30vh;
}
.cityName{
  text-align: center;
}
.cityPop{
  text-align: center;
}
.container{
  margin: 10px;
}

.postContent{
  text-align:inherit;
}
p{
  text-align: center;
}

#ProfCont {
  background-color: white;
  display: inline-block!important;
}
