body {

  padding: 0;
  font-family: sans-serif;
  background-image: url(https://unsplash.com/collections/271352/food-drinks?photo=tOsKxvyNyDw);
}
.col-xs-offset-2 {
    text-align:center;
    top:48vh;
  }
.navbar-default {
  text-align:center;
  margin:0;
}
.row2{
  margin: 0;

}
.container1{
  margin: 0;
}
.photo1{
  top:10px;
}
.container-fluid{
  margin: 0;
}
